{% extends "eshopper/base.html" %}
{% load static %}



{% block content %}
<section>

 <div class="container">
  <div class="row">
   <div class="col-sm-3">
    <div class="left-sidebar">
	 <h2>Category</h2>
	 <!-- {% if not category %}
		<a href="{% url 'eshopper:product_list' %}">All</a>
		{% endif %} -->
	  <div class="panel-group category-products" id="accordian">

	   {% for c in categories %}
	    <div class="panel panel-default">
	     <div class="panel-heading">
	     	
		    <h4 class="panel-title">
		    {% if category.slug == c.slug %}
		    	
		  	{% endif %}
		   <a href="{{ c.get_absolute_url }}">{{ c.name }}</a>
		  </h4>
		 </div>
	    </div>
	   {% endfor %}
	  </div>
	</div>

	<a href="/admin">Admin panel</a>
  </div>
   <div class="col-sm-9 padding-right">
    <div class="features_items"><!--features_items-->
     <h2 class="title text-center">Features Items</h2>
     {% if not products %}
	  <strong>Oops product not available.</strong>
	 {% endif %}	
      <!-- <h1>{% if category.name %}{{ category.name }}{% else %}Products
			{% endif %}
      </h1>	 -->
    
     {% for product in products %}
     <div class="col-sm-4">
	  <div class="product-image-wrapper">
	   <div class="single-products">
	    <div class="productinfo text-center">
	     <a href="{{ product.get_absolute_url }}">

	     	<img src="{% if product.get_product_images %}
	     			  {{ product.get_product_images.0.image.url }}
	     			  {% else %}
					  {% static 'images/404/404.png' %}
					  {% endif %}">
		
		 </a>
		 <h2>${{ product.price }}</h2>
		 <a href="{{ product.get_absolute_url }}"><p>{{ product.name }}</p></a>
		 
		
		 
		 <div class="choose">
		  <ul class="nav nav-pills nav-justified">
		   <li><a><i class="fa fa-shopping-cart"></i>Add to cart</a></li>
		  </ul>
		 </div>
		 <div class="product-overlay">
		  <div class="overlay-content">
		   
			<a href="{{ product.get_absolute_url }}"><h2>${{ product.price }}</h2>
				<p>{{ product.name }}</p><p class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</p></a>
			 
		  </div>
	     </div>
	    </div>
	   </div>
	  </div>
	 </div> 
     {% endfor %}
    </div>
   </div>
  </div>
 </div>
</section>
{% endblock content %}