{% extends 'eshopper/base.html' %}
{% block title %}Login{% endblock title %}

{% block content %}
<section id="form"><!--form-->
		<div class="container">
			<div class="row">
				<div class="col-sm-4 col-sm-offset-1">
					<div class="login-form"><!--login form-->
						
						<h2>Login to your account</h2>
						<form method="post" action="{% url 'eshopper:login' %}">
     					{% csrf_token %}
 							
							<input type="text"  name="username" placeholder="username" />
							<p style="text-color:red;">{{ form.errors.username }}</p>
							<input type="password" name='password' placeholder="password" />
							<p>{{ form.errors.password }}</p>
							 <button type="submit" name="submit" value="login" class="btn btn-default">Login</button>
							<input type="hidden" name="next" value="{{ next }}" />						
						</form>
						<a href="{% url 'social:begin' 'facebook' %}">Login with Facebook</a><br>
						<a href="{% url 'social:begin' 'twitter' %}">Login with Twitter</a>     
    
     
    
					</div><!--/login form-->
				</div>
				<div class="col-sm-1">
					<h2 class="or">OR</h2>
				</div>
				<div class="col-sm-4">
					<div class="signup-form"><!--sign up form-->
						<h2>New User Signup!</h2>
						 <form action="." method="post">
    					{% csrf_token %}
    
    
      
        <input type="text"  name="username" placeholder="username" />
        <p>{{ form.errors.username }}</p>
		<input type="email" name='email' placeholder="email" />
		<p>{{ form.errors.email }}</p>
		<input type="password" name='password1' placeholder="password" />
		<p>{{ form.errors.password1 }}</p>
		<input type="password"  name="password2" placeholder="password again" />
		<p>{{ form.errors.password2 }}</p>
          
      <div class="text-center">          
      <button type="submit" name="submit" value="signup" class="btn btn-default">Signup</button>
     </div>
    </div>
    </form>
					</div><!--/sign up form-->
				</div>
			</div>
		</div>
	</section><!--/form-->
{% endblock %}
